.husky
dist
build
dist-ssr
mock
node_modules
public
src/renderer/libs/*

.DS_Store
.editorconfig
.env*
.eslintignore
.gitignore
.npmrc
.prettierignore
.stylelintignore
nginx*
package.json
yarn-error.log
yarn.lock
logs
app/dist
app/node_modules
app/package-lock.json

**/.gitkeep
**/*.md
**/*.svg
